.wp-plugin-admin { }

.wp-plugin-logo {
	max-width: 140px;
	height: auto;
	margin: 10px 0 10px 0;
}
/* Toggle Switch Styles */
.wp-plugin-toggle-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}

.wp-plugin-toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.wp-plugin-toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .3s;
	border-radius: 24px;
}

.wp-plugin-toggle-slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: .3s;
	border-radius: 50%;
}

.wp-plugin-toggle-switch input:checked + .wp-plugin-toggle-slider {
	background-color: #2271b1;
}

.wp-plugin-toggle-switch input:focus + .wp-plugin-toggle-slider {
	box-shadow: 0 0 1px #2271b1;
}

.wp-plugin-toggle-switch input:checked + .wp-plugin-toggle-slider:before {
	transform: translateX(26px);
}

.wp-plugin-toggle-switch input:disabled + .wp-plugin-toggle-slider {
	opacity: 0.5;
	cursor: not-allowed;
}

.wp-plugin-setting-label {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
}
